body{
  background-color: #eee;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #999;
  color: #fff;
  padding: 1em;
  margin-bottom: 2em;
}

h1 {
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav > ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  padding: 0;

}

nav > ul a {
  color: #ddf;
  font-weight: bold;
  text-decoration: none;
}

main{
  width: 60%;
  margin:auto;
  text-align: left;
  padding-left:1em;
}

.error{
  margin-bottom: 6em;
  text-align: center;
}